{% load static from staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>DoCo New Years Resolution Test</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" />
    </head>
    <body class="{% if request.user.is_authenticated %}logged-in{% else %}logged-out{% endif %}">
    <div class="pull-left">
    <img src="{{ request.user.profile.profile_image_url }}"/>
    <a href="/accounts/logout/" >Logout</a>
    </div>
<div class="inset">
<div class="header">My New Years Resolutions</div>
    <ul>
{% for resolution in resolutions %}
        <li>{{ resolution }}</li>
{% endfor %}
    </ul>

<button class="btn" type="new">New</button>
</div>

    </body>
</html>
